body {
    /*background-color: #B7C25A;*/
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

h2, h3, h4 {
    margin-bottom: 0;
}

strong {
    font-weight: bold;
}

.input-field label {
    /*font-size: 2em;*/
}

.input-field .prefix ~ .select-wrapper {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

#logo-container.brand-logo {
    height: 48px;
    /*background-size: 48px;
    background: url("/images/trashcan.svg") no-repeat;
    padding-left: 64px;*/
}

.icon {
    background-size: 48px;
    background: url("/images/trashcan.svg") no-repeat;
    padding-left: 64px;
    padding-top: 8px;
    height: 48px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #5f8e45;
}

i.material-icons {
    line-height: inherit;
}

@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 100%;
        top: 3rem;
    }
}

#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
    width: 100%;
}

#toast-container {
    left: 0;
}

.toast {
    height: inherit;
    width: 100%;
}