<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %}Trash Manager{% endblock %}</title>
    {% include 'favicon.html' %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.min.css') }}"
          media="screen,projection">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/material-icons.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% include 'navigation.html' %}

{% block content %}{% endblock %}

<footer class="page-footer light-green lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5><a href="http://gilimeno.org" class="white-text">GiliMeno.org</a></h5>
                <p class="grey-text text-lighten-4">Improving life on the gilis.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="grey-text text-darken-4" href="http://wesettleit.net">WeSettleIt</a>
        </div>
    </div>
</footer>

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>