{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-green-text"><i class="material-icons">delete</i></h2>
                    <h5 class="center">Collect trash</h5>

                    <p class="light">When trashes are picked up the volume is registered to the customer / resort.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-green-text"><i class="material-icons">description</i></h2>
                    <h5 class="center">Show bills</h5>

                    <p class="light">The customer can at any time login to see how much trashes
                        have been picked up and what the bill will be.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-green-text"><i class="material-icons">local_florist</i></h2>
                    <h5 class="center">Collect money</h5>

                    <p class="light">When money is collected the bill is marked as paid. The money is used
                        to pay salaries and to make the island even cleaner.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">

    </div>
</div>
{% endblock %}